# Official language image, in version 3.8(.latest)
image: python:3.8

# Set up a virtual environment.
before_script:
  - python -m venv venv
  - source venv/bin/activate

# Run the test suite using tox.
# This job is called when commits are pushed to the main or a release branch.
test:
  script:
    - pip install -U tox
    - tox -e py38
  rules:
    - if: ($CI_PIPELINE_SOURCE == "push") &&
          (($CI_COMMIT_BRANCH == "develop") || ($CI_COMMIT_BRANCH =~ "/^r\d\.\d+/"))
  tags:
    - ci.inria.fr
    - small

# Run the test suite using tox, with --fulltest option.
# This job is called on creation and pushes to non-Draft MRs.
# It may also be launched manually upon pushes to Draft MRs or main/dev branch.
test-full:
  script:
    - pip install -U tox
    - tox -e py38 -- --fulltest
  rules:
    - if: ($CI_PIPELINE_SOURCE == "merge_request_event") &&
          ($CI_MERGE_REQUEST_TITLE !~ /^Draft:.*/)
    - if: ($CI_PIPELINE_SOURCE == "merge_request_event") &&
          ($CI_MERGE_REQUEST_TITLE =~ /^Draft:.*/)
      when: manual
    - if: ($CI_PIPELINE_SOURCE == "push") &&
          (($CI_COMMIT_BRANCH == "develop") || ($CI_COMMIT_BRANCH =~ "/^r\d\.\d+/"))
      when: manual
  tags:
    - ci.inria.fr
    - small
